html, body, header, nav, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin-top: 20px;
}

li {
  list-style: none;
}

div, h1, ul {
  padding: 0;
  margin: 0;
}

.main-calendar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-window {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: scroll;
}

.modal-conatiner {
  margin: auto;
  background: white;
  border-radius: 10px;
}

.calendar-header {
  display: flex;
  justify-content: space-around;
  margin: auto;
  height: 50px;
  width: 500px;
}

.current-month {
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 400px;
}

.month-changer {
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  padding: 0 20px 0 20px;
}

.days-of-week {
  display:flex;
  justify-content: space-around;
  padding-bottom: 15px;
}

.day-name {
  display: flex;
  justify-content: center;
}

.calendar-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.calendar-days {
  display: flex;
  flex-wrap: wrap;
}

.day-items {
  width: 13.5%;
  height: 150px;
  border: 1px solid black;
  cursor: pointer;
  overflow: scroll;
}

.filler-day-items {
  background-color: rgba(0, 0, 0, 0.4);
  width: 13.5%;
  height: 150px;
  border: 1px solid black;
  cursor: pointer;
}

.display-event-container {
  overflow: scroll;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.day-event-item {
  font-size: 15px;
  border: 3px solid #2796DD;
  background-color: #2AA3EF;
  margin: 5px;
}

.show-date-container {
  position: relative;
  width: 500px;
  height: 500px;
  padding: 10px;
}

.create-button {
  position: absolute;
  bottom: 25px;
  right: 25px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  color: white;
  background-color: black;
  cursor: pointer;
}

.show-event-list {
  overflow: scroll;
}

.event-item-list {
  position:relative;
  background-color: #2AA3EF;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.event-item-content {
  display: flex;
}

.event-item-buttons {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.edit-delete{
  background-color: black;
  color: white;
  cursor: pointer;
  margin: 1px;
}

.create-edit-form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  padding: 10px;
  font-weight: 700;
  font-size: 30px;
}

.form-description-box {
  width: 100%;
  height: 150px;
  resize: none;
  border-radius: 5px;
}

.create-edit-times {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.create-edit-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 35px;
  height: 70%;
}

.create-edit-label {
  margin-left: auto;
  margin-right: auto;
}

.create-edit-submit {
  position: absolute;
  bottom: 10px;
  right: 5px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  color: white;
  background-color: black;
  cursor: pointer;
}

.errors {
  color: red;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}
