html, body, header, nav, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  width: 100%;
  height: 100%;
}

div, h1, ul {
  padding: 0;
  margin: 0;
}

.main-calendar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-window {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: scroll;
}

.modal-conatiner {
  margin: auto;
  background: white;
}

.calendar-header {
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 100%;
}

.current-month {
  font-size: 30px;
}

.days-of-week {
  display:flex;
  justify-content: space-around;
}

.day-name {
  display: flex;
  width: 14.08%;
  justify-content: center;
}

.calendar-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.calendar-days {
  display: flex;
  flex-wrap: wrap;
}

.day-items {
  width: 14.08%;
  height: 150px;
  border: 1px solid black;
  cursor: pointer;
}
